header {
  nav {
    height: 83px;
    padding: 8px 0;
    background: rgba(0,0,0, 0.2) !important;
    border: none !important;
    transition: background 0.3s
  }
  .brand-logo {
    vertical-align: middle;
    img {
      margin-right: 8px;
      vertical-align: middle;
    }
    font: {
      size: 190%;
      weight: 200;
      family: $oswald;
    }
    span {
      vertical-align: middle;
      display: none;
    }
  }
}

.active {
  border: 2px solid #fff;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d0d0d !important;
}

.side-nav {
  z-index: 999 !important;
}
